/*
@media only screen and (orientation: portrait) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}
*/

/*tags HTML*/

table {
	height: 100%;
	width: 100%;
	border-spacing: 0;
}

th {
	min-height: 5em;  
	text-align: center;
	vertical-align: bottom;
	font-size:20;
}

td {
	width: 4em;
	height: 4em;
	text-align: center;
	vertical-align: middle;
	position: relative;
	border: 1px solid black;	
}

/* cores dos elementos */

.sem-família {
	background-color: cornflowerblue;
}

.Metal {
	background-color: orange;
}

.Semi-metal {
	background-color: green;
}

.Ametal {
	background-color: yellow;
}

.Nobre {
	background-color: gray;
}

.empty {
	visibility: hidden;
}

.symbol {
	font-size: 1.5em;
}

/* Dialog */

#Dialog {
	visibility:hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin-left: 0;
	position: absolute;   
	top: 0;
   background: #FFFFFF;
   font-size: 60;
   border: solid;
}

#background {
		height:100%; 
		width:100%; 
		position:absolute;
		background-color:white;
}

